body {
    background-color: black;
}

label {
    color: goldenrod;
    margin-right: 10px;
}

.gld {
    color: goldenrod;
}

.strong {
    display: flex;
    justify-content: center;
}

#btn {
    background-color: goldenrod;
    color: black;
}

.form {
    display: flex;
    justify-content: center;

}

.mid {
    display: flex;
    justify-content: center;
}

.form-groupp {
    display: block;
    margin-bottom: 10px;
}

.con {
    display: flex;
    text-align: center;

}

.list-group {
    width: 50%;
}

.inner {
    display: flex;
    justify-content: center;
}

.width {
    width: 50px;
}